<form action="#" class="sign-in-form" [formGroup]=" resetPasswordForm">
    <h2 class="title">Reset Password</h2>


    <div class="input-field">
        <i class="fa-solid fa-lock"></i>
        <input formControlName="email" type="email" placeholder="Email" required>
      </div>
      <small *ngIf=" resetPasswordForm.controls['email'].dirty &&  resetPasswordForm.hasError('required','email')">
        *Email is required
      </small>

    <div class="input-field">
        <i class="fa-solid fa-lock"></i>
        <input formControlName="password" type="password" placeholder="New Password" required  [(ngModel)]="password">
      </div>
      <small *ngIf=" resetPasswordForm.controls['password'].dirty &&  resetPasswordForm.hasError('required','password')">
        *New Password is required
      </small>


    <div class="input-field">
      <i class="fa-solid fa-lock"></i>
      <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" required [(ngModel)]="confirmPassword">
    </div>
    <small *ngIf=" resetPasswordForm.controls['confirmPassword'].dirty &&  resetPasswordForm.hasError('required','confirmPassword')">
      *Confirm Password is required 
    </small>
    <!-- <small *ngIf="resetPasswordForm.hasError('confirmPasswordValidator','confirmPassword')">
        *Password doesn't match. 
    </small> -->


      <div class="input-field">
        <i class="fa-solid fa-lock"></i>
        <input formControlName="securityCode" type="text" placeholder="Security Code" required>
      </div>
      <small *ngIf=" resetPasswordForm.controls['securityCode'].dirty &&  resetPasswordForm.hasError('required','securityCode')">
        *Security Code is required
      </small>

    <div>
      <button class="btn" (click)="reset()">RESET</button>
    </div>


  </form>