<!--Account Form Registartion-->
<div class="add-account-form">
    <h1 mat-dialog-title class="titlehead">Add Account Form</h1>
    <div mat-dialog-content style="max-height: 100vh;">
    
        <form [formGroup]="accountAddForm" >
    
            <mat-form-field class="example-full-width">
                <mat-label>Account's Name</mat-label>
                <input matInput type="text" formControlName="aname" name="aname" >
                <mat-icon matSuffix>computer</mat-icon>
                <mat-error *ngIf="aname && aname.invalid">
                    Account's Name Required
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="acc_email" name="acc_email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email && email.invalid && email.touched">
                    Please Enter valid email
                </mat-error>
            </mat-form-field>
    
            
            <table class="example-full-width" cellspacing="0">
                <tr class="table-row">
    
                    <td>
                        <button class="location-btn" (click)="openGoogleMap()" mat-stroked-button style="border: 1px solid black;" (click)="changeState()"> 
                            <mat-icon matSuffix>location_on</mat-icon> Location
                        </button>
                        
                    </td>
                    <td>
    
                        <mat-form-field appearance="fill">
                            <mat-label>Year of Establishment</mat-label>
                            <input type="text" matInput formControlName="estYear" name="estYear" >
                            <mat-icon matSuffix>tag</mat-icon>
                            <mat-error>Year Required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>


            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <input matInput type="text" formControlName="description" name="description" >
                <mat-icon matSuffix>computer</mat-icon>
                <mat-error *ngIf="aname && aname.invalid">
                   Description Required
                </mat-error>
            </mat-form-field>
        </form>
        <div mat-dialog-action [align]="'end'" class="button-class">
            <button mat-raised-button color="warn" mat-dialog-close class="closebtn">Close</button>
            <button mat-dialog-close style="background-color: #00599C; color: white;" [disabled]="isButtonDisabled()"  mat-raised-button color="primary" type="submit" class="submitbtn"  (click)="accountFormSubmit()"> Submit</button>
        </div>
    </div>
    </div>