DataTrackr API/.vs/DataTrackr API/FileContentIndex/04c55176-64ec-449f-ad58-4f8505ea9c89.vsidx
DataTrackr API/.vs/DataTrackr API/FileContentIndex/bbc2c7f8-b3b3-4510-85ad-1977b7a374e7.vsidx
DataTrackr API/.vs/DataTrackr API/v17/.suo
DataTrackr API/.vs/ProjectEvaluation/datatrackr api.metadata.v5.2
DataTrackr API/.vs/ProjectEvaluation/datatrackr api.projects.v5.2
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.dll
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.pdb
DataTrackr API/DataTrackr API/obj/project.nuget.cache
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.AssemblyInfoInputs.cache
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.csproj.AssemblyReference.cache
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.pdb
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.MvcApplicationPartsAssemblyInfo.cache
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.pdb
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.pdb
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.genruntimeconfig.cache
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.csproj.BuildWithSkipAnalyzers
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.assets.cache
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.dll
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.pdb
DataTrackr API/.vs/ProjectEvaluation/datatrackr api.metadata.v5.2
DataTrackr API/.vs/ProjectEvaluation/datatrackr api.projects.v5.2
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.dll
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.pdb
DataTrackr API/.vs/DataTrackr API/DesignTimeBuild/.dtbcache.v2
DataTrackr API/.vs/DataTrackr API/FileContentIndex/9f62e9a8-41e0-4802-84ee-9c58e35071e4.vsidx
DataTrackr API/.vs/DataTrackr API/FileContentIndex/dbf37756-5db1-4a92-a536-9476a4cfb1ba.vsidx
DataTrackr API/.vs/DataTrackr API/FileContentIndex/read.lock
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.dll
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.pdb
DataTrackr API/DataTrackr API/obj/DataTrackr API.csproj.nuget.dgspec.json
DataTrackr API/DataTrackr API/obj/DataTrackr API.csproj.nuget.g.props
DataTrackr API/DataTrackr API/obj/DataTrackr API.csproj.nuget.g.targets
DataTrackr API/DataTrackr API/obj/project.assets.json
DataTrackr API/DataTrackr API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DataTrackr API/DataTrackr API/obj/Debug/net6.0/apphost.exe
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.AssemblyInfo.cs
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.csproj.CoreCompileInputs.cache
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.csproj.FileListAbsolute.txt
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.GeneratedMSBuildEditorConfig.editorconfig
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.MvcApplicationPartsAssemblyInfo.cs
DataTrackr API/DataTrackr API/obj/Debug/net6.0/staticwebassets.build.json
DataTrackr API/DataTrackr API/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.DataTrackr API.props
DataTrackr API/DataTrackr API/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.DataTrackr API.props
DataTrackr API/DataTrackr API/obj/Debug/net6.0/staticwebassets/msbuild.build.DataTrackr API.props
DataTrackr API/DataTrackr API/obj/Debug/net6.0/refint/DataTrackr API.dll
DataTrackr API/DataTrackr API/obj/Debug/net6.0/ref/DataTrackr API.dll
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.dll
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.pdb
DataTrackr API/.vs/DataTrackr API/DesignTimeBuild/.dtbcache.v2
DataTrackr API/.vs/DataTrackr API/FileContentIndex/9f62e9a8-41e0-4802-84ee-9c58e35071e4.vsidx
DataTrackr API/.vs/DataTrackr API/FileContentIndex/dbf37756-5db1-4a92-a536-9476a4cfb1ba.vsidx
DataTrackr API/.vs/DataTrackr API/FileContentIndex/read.lock
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.dll
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.pdb
DataTrackr API/DataTrackr API/obj/DataTrackr API.csproj.nuget.dgspec.json
DataTrackr API/DataTrackr API/obj/DataTrackr API.csproj.nuget.g.props
DataTrackr API/DataTrackr API/obj/DataTrackr API.csproj.nuget.g.targets
DataTrackr API/DataTrackr API/obj/project.assets.json
DataTrackr API/DataTrackr API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DataTrackr API/DataTrackr API/obj/Debug/net6.0/apphost.exe
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.AssemblyInfo.cs
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.csproj.CoreCompileInputs.cache
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.csproj.FileListAbsolute.txt
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.GeneratedMSBuildEditorConfig.editorconfig
DataTrackr API/DataTrackr API/obj/Debug/net6.0/DataTrackr API.MvcApplicationPartsAssemblyInfo.cs
DataTrackr API/DataTrackr API/obj/Debug/net6.0/staticwebassets.build.json
DataTrackr API/DataTrackr API/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.DataTrackr API.props
DataTrackr API/DataTrackr API/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.DataTrackr API.props
DataTrackr API/DataTrackr API/obj/Debug/net6.0/staticwebassets/msbuild.build.DataTrackr API.props
DataTrackr API/DataTrackr API/obj/Debug/net6.0/refint/DataTrackr API.dll
DataTrackr API/DataTrackr API/obj/Debug/net6.0/ref/DataTrackr API.dll
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.dll
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.pdbDataTrackr API/.vs/DataTrackr API/v17/.futdcache.v2
DataTrackr API/.vs/DataTrackr API/v17/.futdcache.v2
DataTrackr API/.vs/DataTrackr API/v17/.suo
DataTrackr API/DataTrackr API/bin/Debug/net6.0/DataTrackr API.dll
DataTrackr API/.vs/DataTrackr API/v17/.futdcache.v2
.gitignore
