<!-------------------Toogler------------------------->
<div class="main">
  <!------------------------------Logs HTML Code------------------------------>

  <div class="details">
    <div class="recentOrders">
      <div class="cardHeader">
        <h2>History</h2>
        <!-- <a href="#" class="btn">View All</a> -->
      </div>

      <table class="account-table">
        <thead class="account-head">
          <tr>
            <td>UserId</td>
            <td>TimeStamp</td>
            <td>Comment</td>
            <td>Action</td>
          </tr>
        </thead>

        <tbody>
          <ng-template [ngIf]="logsList != undefined">
            <tr
              *ngFor="
                let logList of logsList
                  | paginate : { itemsPerPage: itemsPerPage, currentPage: p, totalItems:totalItems }
              "
            >
              <td>{{ logList.userId }}</td>
              <td>{{ logList.timeStamp }}</td>
              <td>{{ logList.message }}</td>
              <ng-template [ngIf]="logList.operation === 'created'"
                ><td>
                  <span class="status-created">{{ logList.operation }}</span>
                </td></ng-template
              >
              <ng-template [ngIf]="logList.operation === 'updated'"
                ><td>
                  <span class="status-updated">{{ logList.operation }}</span>
                </td></ng-template
              >
              <ng-template [ngIf]="logList.operation === 'deleted'"
                ><td>
                  <span class="status-deleted">{{ logList.operation }}</span>
                </td></ng-template
              >
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>

  <div class="paginationclass">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
  
</div>


