<!-- forgot-password-dialog.component.html -->
<h2>Forgot Password</h2>
<div mat-dialog-content>
  <form [formGroup]="forgotPasswordForm">
    <mat-form-field>
      <input matInput type="email" formControlName="email" placeholder="Email">
      <mat-error *ngIf="isFieldInvalid('email')">
        <span *ngIf="forgotPasswordForm.get('email')!.hasError('required')">Email is required</span>
        <span *ngIf="forgotPasswordForm.get('email')!.hasError('email')">Invalid email format</span>
      </mat-error>
    </mat-form-field>

  <div class="buttonClass">
    <button mat-raised-button type="submit" (click)="openResetPasswordDialog()">Submit</button>
    <button mat-raised-button type="submit" (click)="closeForm()">Close</button>
  </div>
</form>
</div>


