<div class="main">
<div class="wrapper">
    <div class="title-text">
       <div class="title login">
          SignUp
       </div>
    </div>
    <div class="form-container">

       <div class="form-inner">
          <form [formGroup]="signUpForm" class="login">
            <div class="field">
                <input formControlName="firstName" type="text" placeholder="FirstName" required>
             </div>
             <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')">*FirstName is required.</small>

             <div class="field">
                <input formControlName="lastName" type="text" placeholder="LastName" required>
             </div>
             <small *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')">*LastName is required.</small>

             <div class="field">
                <input formControlName="email" type="text" placeholder="Email Address" required>
             </div>
             <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')">*Email is required.</small>

             <div class="field">
                <input formControlName="userName" type="text" placeholder="UserName" required>
             </div>
             <small *ngIf="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')">*UserName is required.</small>

             <div class="field">
                <input formControlName="password" type="password" placeholder="Password" required>
             </div>
             <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')">*Password is required.</small>
       

             <div>
                <button (click)="OnSignUp()" class="field">SIGNUP</button>
              </div>

             <div class="signup-link">
                Already have account? <a routerLink="/login">Login</a>
             </div> 

          </form>
          
       </div>
    </div>
 </div>
</div>