/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: 2px solid var(--black2);
  color: var(--black2);
}

.search label i {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
  color: var(--black2);
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===================== Customers ===================== */
.customers {
  margin: 3%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding-top: 2%;
  
}

.flexone {
  flex: 1;
}

.groups {
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  height: auto;
}
.groups li {
  position: relative;
  list-style: none;
  /* background: #fff; */
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 #0001;
  overflow: hidden;
  margin-bottom: 30px;
  transition: all 0.3s;
  background: #dfe2e3;
  cursor: pointer;
  
}
.groups li:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 14px 0 #0005;
}
.groups .card {
  overflow: hidden;
  display: block;
}
.groups .image-session {
  float: left;
  overflow: hidden;
  margin: 2% 4% 1% 3%;
  border-radius: 16px;
  border: 1px solid #00599C; 
  
}

.groups .image-session .image {
  width: 220px;
  height: 160px;
  display: block;
  background-size: cover;
  background-position: center;
}
.groups .meta-sission {
  position: relative;
  padding: 15px;
  display: block;
  height: 220px;
}
.groups .meta-sission .head {
  display: flex;
  margin-bottom: 10px;
}
.groups .meta-sission .head .catogry {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #0075ff;
}
.meta-sission .head .per span,
.meta-sission .head .per input {
  display: block;
  font-size: 10px;
  text-align: right;
}
.meta-sission .head .per input {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #0001;
  margin-bottom: 4px;
  overflow: hidden;
}
.meta-sission .head .per input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  box-shadow: -100px 0 0 100px #0075ff;
}
.groups .body .title {
  height: 40px;
  overflow: hidden;
  font-size: 24px;
}
.groups .body .desc {
  height: 45px;
  overflow: hidden;
  margin-bottom: 0px;
  font-size: 14px;
}
.read-more{
  position: absolute;
  cursor: pointer;
  font-size: 65%;
  margin-bottom: 40%;
  
}


.groups .footer .views {
  display: block;
  font-size: 12px;
  padding-top: 5%;
  
}

.icons{
  position: absolute;
  bottom: 20px;
  right: 25px; 
  cursor: pointer;
}

.icons i{
  font-size: 20px;
  padding: 10px;
}

@media screen and (min-width: 320px) and (max-width: 750px){

  .icons{
    position: relative;
    top: 10px;
    margin-left: 14px; 
    cursor: pointer;
  }

}

@media screen and (max-width: 780px) {
  .groups {
    width: 96%;
  }
  .groups li:hover {
    transform: none;
    box-shadow: none;
  }
}
@media screen and (max-width: 560px) {
  .groups .image-session {
    float: none;
    
    
  }
  .groups .image-session .image {
    width: 100%;
  }
  .title{
    text-align: center;
  }
}



 /* ====================== Responsive Design ========================== */
 @media (max-width: 991px) {
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    left: initial;
  }
  .main.active .toggle i{
    color: #fff !important;
  }
}

@media (max-width:375px){
  .main.active .toggle i{
    position: relative;
    right: 100%;
  }
}


