<div class="main-nav" >
    <div class="topbar">
      <div class="toggle" (click)="onToggleClick()">
        <i class="fa-solid fa-bars" style="color: #000000"></i>
      </div>
      <div class="search">
        <label>
            <input type="text" [placeholder]="'Search here for '+dashboard" #searchIpt (keyup)="searchVal(searchIpt)">
            <i class="fa fa-solid fa-magnifying-glass"></i>
        </label>
    </div>
      <div class="user" [matMenuTriggerFor]="menu">
        {{generateInitials()}}
      </div>
  
      <mat-menu #menu="matMenu" class="customize">
  
        <button mat-menu-item class="customize-bname" >
    
          <mat-icon>badge</mat-icon>
    
          <span *ngIf="user">{{user.unique_name|titlecase}}</span>
    
        </button>
    
        
        <button (click)="resetPassword()" mat-menu-item class="customize-b">
    
          <mat-icon>password</mat-icon>
    
          <span>Reset Password</span>
    
        </button>
    
        <button (click)="logout()" mat-menu-item class="customize-b">
    
          <mat-icon>logout</mat-icon>
    
          <span>Logout</span>
    
        </button>
    
      </mat-menu>
    </div>
</div>