<div class="map-container">
  
    <h1>Projecting all accounts of {{customerName}}</h1>
    
      <agm-map 
         [latitude]='lat' 
         [longitude]='long'
         [zoom]='zoom'
         >
          <!--[fitBounds]="mapBounds() | async"-->
          <agm-marker 
              *ngFor="let marker of locations" 
              [latitude]="marker.lat" 
                [longitude]="marker.lng"
                [iconUrl]="marker.iconUrl?marker.iconUrl:''"
                >    
            
          </agm-marker>
          
      </agm-map>
    
  </div>
