<!--Customer Form Registartion-->

<div class="form-container">
  <h1 mat-dialog-title class="titlehead">Add Customer Form</h1>
  <div mat-dialog-content style="max-height: 100vh">
    <form [formGroup]="customerAddForm">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="CustomerName" name="CustomerName" />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="CustomerName && CustomerName.invalid">
          Name <strong>Required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="isUpdateActive">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="CustomerEmail"
          name="CustomerEmail"
          readonly
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="CustomerEmail && CustomerEmail.invalid && CustomerEmail.touched">
          Please Enter valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="!isUpdateActive">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="CustomerEmail" name="CustomerEmail" />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="CustomerEmail && CustomerEmail.invalid && CustomerEmail.touched">
          Please Enter valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sector</mat-label>
        <mat-select formControlName="Sector">
          <mat-option value="Construction">Construction</mat-option>
          <mat-option value="IT">IT</mat-option>
          <mat-option value="Electronics">Electronics</mat-option>
          <mat-option value="Textiles">Textiles</mat-option>
          <mat-option value="Machinery">Machinery</mat-option>
          <mat-option value="Automobile">Automobile</mat-option>
          <mat-option value="Finance">Finance</mat-option>
          <mat-option value="Ed-Tech">EdTech</mat-option>
          
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Logo</mat-label>
        <input type="text" matInput formControlName="Logo" />
        <mat-icon matSuffix>link</mat-icon>
      </mat-form-field>

      <table class="example-full-width" cellspacing="0">
        <tr class="table-row">
          <td>
            <mat-form-field>
              <ngx-mat-intl-tel-input
                name="PhoneNumber"
                [preferredCountries]="['in', 'us']"
                [placeholder]="'PhoneNumber'"
                [enableSearch]="true"
                [enablePlaceholder]="true"
                describedBy="phoneNo"
                formControlName="PhoneNumber"
                (countryChanged)="onCountryChange($event)"
              >
              </ngx-mat-intl-tel-input>
              <mat-error
                *ngIf="customerAddForm.controls.PhoneNumber.errors?.required"
                >Phone <strong>Required</strong></mat-error
              >

              <mat-error
                *ngIf="
                  customerAddForm.controls.PhoneNumber.errors?.validatePhoneNumber
                "
                >invalid <strong>Number</strong></mat-error
              >
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field appearance="fill">
        <mat-label>Website</mat-label>
        <input type="text" matInput formControlName="Website" name="Website" />
        <mat-icon matSuffix>language</mat-icon>
      </mat-form-field>
      <table class="example-full-width" cellspacing="0">
        <tr class="table-row">
          <td>
            <button
              class="location-btn"
              (click)="openGoogleMap()"
              mat-stroked-button
              style="border: 1px solid black"
              (click)="changeState()"
            >
              <mat-icon matSuffix>location_on</mat-icon> Location
            </button>
          </td>
        </tr>
      </table>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="Description"
          name="Description"
        ></textarea>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error><strong>Required</strong></mat-error>
      </mat-form-field>
    </form>
    <div mat-dialog-action [align]="'end'" class="button-class">
      <button mat-raised-button color="warn" mat-dialog-close class="closebtn">
        Close
      </button>
      <button
        *ngIf="!isUpdateActive"
        style="background-color: #00599c; color: white"
        [disabled]="customerAddForm.invalid || active===false"
        mat-raised-button
        color="primary"
        type="submit"
        class="submitbtn"
        (click)="addCustomer()"
      >
        Submit
      </button>
      <button
        *ngIf="isUpdateActive"
        style="background-color: #00599c; color: white"
        [disabled]="customerAddForm.invalid"
        mat-raised-button
        color="primary"
        type="submit"
        class="submitbtn"
        (click)="updateCustomer()"
      >
        Update
      </button>
    </div>
  </div>
</div>
