<div class="navigation">
    <ul>
        <li>
            <div class="brand">
                <a href="#">
                    <div><span class="icon">
                        <i class="fa-solid fa-database" style="color: #ffffff;"></i>
                    </span></div>
                    <div><a href="#">
                        <span class="title brand-title">DataTrackr</span>
                    </a></div>
                </a>
            </div>
            
        </li>
        <li (mouseover)="animateIcon(icon1,'fa-beat')" (mouseout)="removeAnimation(icon1,'fa-beat')">
            <a href="#">
                <span class="icon">
                    <i class="fa-solid fa-house" #icon1 style="color: #ffffff;"></i>
                </span>
                <span class="title">Dashboard</span>
            </a>
        </li>

        <li (mouseover)="animateIcon(icon2,'fa-bounce')" (mouseout)="removeAnimation(icon2,'fa-bounce')">
            <a href="#">
                <span class="icon">
                    <i class="fa-solid fa-user-plus" #icon2 style="color: #ffffff;"></i>
                </span>
                <span class="title">Customers</span>
            </a>
        </li>

        <li (mouseover)="animateIcon(icon3,'fa-beat-fade')" (mouseout)="removeAnimation(icon3,'fa-beat-fade')">
            <a href="#">
                <span class="icon">
                    <i class="fa-solid fa-clock" #icon3></i>
                </span>
                <span class="title">History</span>
            </a>
        </li>

        <li (mouseover)="animateIcon(icon4,'fa-fade')" (mouseout)="removeAnimation(icon4,'fa-fade')">
            <a href="#">
                <span class="icon">
                    <i class="fa-solid fa-right-from-bracket" #icon4></i>
                </span>
                <span class="title">Sign Out</span>
            </a>
        </li>
    </ul>
</div>