<div class="navigation">
    <ul>
        <li>
            <div class="brand">
                <a href="#">
                    <div><span class="icon">
                        <i class="fa-solid fa-database" style="color: #ffffff;"></i>
                    </span></div>
                    <div><a href="#">
                        <span class="title brand-title">DataTrackr</span>
                    </a></div>
                </a>
            </div>
            
        </li>
        <li>
            <div class="customer">
                <div class="customer-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHsP_TOOw6qLHi0t0eylpR5TTrnVDVpYPaHA&usqp=CAU" alt="">
                </div>
                <div class="customer-details">
                    <span>Customer 1</span><br>
                    <span>abcdef@abc.com</span><br>
                    <span>+91 9876543210</span><br>
                    <span>www.company1.com</span><br>
                    <span>Large Cap</span>
                </div>
            </div>
        </li>
        
        <li (mouseover)="animateIcon(icon2,'fa-bounce')" (mouseout)="removeAnimation(icon2,'fa-bounce')" (click)="addAccount()">
            <a>
                <span class="icon">
                    <i class="fa-solid fa-user-plus" #icon2 style="color: #ffffff;"></i>
                </span>
                <span class="title">Add Account</span>
            </a>
        </li>

        <li (mouseover)="animateIcon(icon4,'fa-fade')" (mouseout)="removeAnimation(icon4,'fa-fade')">
            <a href="#">
                <span class="icon">
                    <i class="fa-solid fa-right-from-bracket" #icon4></i>
                </span>
                <span class="title">Sign Out</span>
            </a>
        </li>
    </ul>
</div>
